body {
    background-color: rgb(0, 0, 0);
    
}

/* Lobby Editing Strat here  */
#logo {
    display: block;
    width: 200px;
    margin: 0 auto;
}

#form-container {
    width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Lobby editing End here */



/* Room editing start here */
#room-name-wrapper {
    color: white;
}

#video-streams {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 75%;
    margin: 0 auto;
    
}

.video-container {
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 2px;
    background-color: white;
    
}

.video-player {
    height: 80%;
    width: 80%;
}

/* Room editing start here */